/* Recipekorea */
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Recipekorea/Recipekorea-font.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Pretendard/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Pretendard */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/LeeSeoyun/LeeSeoyun.woff') format('woff');
    font-style: normal;
    font-display: swap;
}