/* Recipekorea */
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Recipekorea/Recipekorea-font.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Pretendard/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* LeeSeoyun */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/LeeSeoyun/LeeSeoyun.woff') format('woff');
    font-style: normal;
    font-display: swap;
}


/* JalnanGothic */
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/JalnanGothic/JalnanGothic.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Presentation-font */
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-1Thin.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-2ExtraLight.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-3Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-4Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-5Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-6SemiBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-3Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-3Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/hyeins-w/with-webFonts@main/Presentation-font/Freesentation-3Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}